{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Liste des rôles</h2>
    <a href="{% url 'role_create' %}" class="btn btn-primary mb-3">Ajouter un rôle</a>
    <table class="table table-striped table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td>
                    <a href="{% url 'role_detail' role.pk %}" class="btn btn-info btn-sm">Voir</a>
                    <a href="{% url 'role_update' role.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{% url 'role_delete' role.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
